*{
margin: 0;padding: 0;    
}body{
    background: linear-gradient(#050000 2%, #A60000 15%);
    height: 850px;
    width: 100%;
    font-family: sans-serif;
    color: #fff;
}
header{
    margin: 90px 0 0 0;
    background-color: #000;
    height: 35px;
    width: 100%;
    padding: 12px 0px;
}a{
    text-decoration: none;
}
.wf-nav a strong{
    font-size: 32px;
    padding: 0 80px 0 30px;
}
.wf-nav a{
text-transform: uppercase;
color: #fff;
font-family: 16px;
padding: 0px 50px;text-align: center;
text-decoration: none;
}
.wf-sec1{
    font-family: Impact, Haettenschweiler,
    text-rendering: ;
    text-align: center;
    margin: 8% 0 0 0;
}

.wf-h1{
      /* below code allows to set font-size,weight, text-align, color*/
    font-size: 130px;
    font-weight: 530;
    text-align: center;
    color: #000;   
}


footer{
    margin: 10px 0 0 0;
}
